
    form {
      text-align: center;
    }

    .login_form_btm {
      padding: 10px 0;
      margin: 10px 0;
    }

    input {
      width: 200px;
      padding: 3px;
      margin: 5px 0;
    }
